.card {
    background: #303030;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    color: white;
    text-align: center;
}

.card img {
    width: 150px;
    margin-top: 37px;
    object-position: center;
}

.card h4 {
    line-height: normal;
    margin-top: 28px;
}

.card>p {
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 21px 0 65px 0;
    font-size: calc(11px + 13 * ((100vw - 320px) / (1920 - 320)));
}

