.big_card {
    overflow: hidden;
    border-radius: 30px;
    background: rgba(48, 48, 48, .7);
    display: flex;
    align-items: flex-end;
}

.big_card>h1 {
    display: none;
}

.big_card ul {
    color: white;
    margin-bottom: 30px;
    max-width: 700px;
    width: 100%;
}

.lists {
    margin-top: calc(10px + 14 * ((100vw - 320px) / (1940 - 320)));
    margin-left: 45px;
    position: relative;
    font-weight: 300;
}

.lists:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    border: 6px solid #58B80C;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%)
}

.big_card__img {
    max-width: 500px;
    width: var(--big_card-img);
    margin-top: 80px;
}

@media (max-width:730px) {
    
    .big_card {
        flex-direction: column;
        align-items: center;
    }

    .big_card__img {
        display: none;
    }

    .big_card h1 {
        text-align: center;
        display: block;
        margin: 20px 0;
    }
}