#flet {
    margin-top: var(--m-top-80);
}

#f_wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

#flet .card {
    height: 100%;
}

#flet .card h4 {
    font-size: 24px;
    font-weight: 600;
    max-width: 330px;
    width: 100%;
    margin-top: 30px;
}

#flet .card p {
    font-weight: 300;
    max-width: 90%;
    margin-bottom: 30px;
    line-height: 1.5;
}

#flet .card img {
    width: 70px;
    margin-top: 30px;
}

#flet .slider {
    display: none;
}

@media (max-width:440px) {
    #f_wrapper {
        display: none;
    }

    #flet .slider {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    #flet .slider_wrapper {
        width: 265px !important;
    }

    #flet .card {
        width: 245px !important;
    }

    #flet .card img {
        width: 47px;
    }

}