#all-apps {
    margin-top: 337px;
    position: relative;
}

#all-apps h1 {
    max-width: 650px;
}

#all-apps p {
    margin-top: 28px;
    max-width: 733px;
}

#all-apps button {
    margin-top: 53px;
}

#all-apps img {
    top: 50%;
    right: 0;
    z-index: -1;
    height: 780px;
    max-width: 565px;
    position: absolute;
    object-fit: contain;
    transform: translateY(-50%);
}

@media screen and (max-width:1050px) {
    #all-apps {
        margin-top: 200px;
    }

    #all-apps img {
        height: 500px;
    }
}

@media screen and (max-width:860px) {
    #all-apps {
        margin-top: var(--m-top-80) ;
    }

    #all-apps h1,
    #all-apps p {
        max-width: 50%;
    }

    #all-apps img {
        height: 400px;
    }
}

@media screen and (max-width:650px) {
    #all-apps img {
        height: 300px;
        top: auto;
        transform: none;
        bottom: 0;
    }
}

@media screen and (max-width:550px) {
    #all-apps h1 {
        max-width: 60%;
    }

    #all-apps img {
        height: 250px;
    }

    #all-apps button {
        padding: 10px 15px;
    }
}

@media screen and (max-width:430px) {
    #all-apps img {
        height: 200px;
    }

}

@media screen and (max-width:460px) {
    #all-apps img {
        height: 170px;
    }
}