#all-apps {
    margin-top: 337px;
    position: relative;
}

#all-apps h1 {
    max-width: 650px;
}

#all-apps p {
    margin-top: 28px;
    max-width: 733px;
}

#all-apps button {
    margin-top: 53px;
}

#all-apps div {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 565px;
    width: 100%;
    height: 780px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
}