#starts {
    margin-top: var(--m-top-80);
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        "video h1"
        "video p"
        "video a"
    ;
}

#s_img {
    grid-area: video;
    margin-right: 40px;
    width: calc(200px + 500 * ((100vw - 320px) / (1940 - 320)));
}

#starts h1 {
    grid-area: h1;
    align-items: flex-start;
}

#starts>p {
    margin-top: 0;
    grid-area: p;
}

#starts a {
    grid-area: a;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 120px;
}

#starts a>img {
    width: calc(18px + 32 * ((100vw - 320px) / (1940 - 320)));
}

#starts a>p {
    margin-left: 2%;
}

@media (max-width: 860px) {
    #s_img {
        margin: 0;
    }

    #starts h1,
    #starts p {
        padding: 20px;
    }

    #starts {
        grid-template-areas:
            "h1 h1"
            "p p"
            "video a";
        grid-template-rows: repeat(3, min-content);
    }

}

@media (min-width: 1940px) {
    #starts a>img {
        width: 50px;
    }
}