menu {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    z-index: 2;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

menu.active {
    width: 100%;
}

menu .logo {
    margin: 30px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

menu>a {
    font-size: 20px !important;
    font-weight: bold;
    color: white;
    display: block;
    width: max-content;
    margin-left: 5%;
    margin-top: 25px;
}

menu>div {
    margin-left: 5%;
    margin-top: 10%;
}

menu .mess_link:not(:first-child) {
    margin-left: 20px;
}