:root {
    --s_img-adaptive: calc(300px + 323 * ((100vw - 320px) / (1940 - 320)));
}

#system {
    overflow: hidden;
    height: var(--s_img-adaptive);
    width: 100%;
    position: relative;
}

#system .BtnGreen{
    display: inline-block;
}

#system h1 {
    max-width: 708px;
    width: 100%;
}

#system p {
    margin: 21px 0 50px 0;
    max-width: 550px;
}

#system>img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 723px;
    width: var(--s_img-adaptive);
    height: var(--s_img-adaptive);
    z-index: -1;
    object-fit: contain;
    object-position: right;
}

@media (max-width:960px) {
    #system {
        height: auto;
    }

    #system .BtnGreen {
        margin-bottom: 200px;
    }

    #system>img {

        top: auto;
        bottom: 0;
    }

    #system p {
        max-width: 50%;
    }
}

@media (max-width:450px) {
    #system .BtnGreen {
        padding: 10px 15px;
    }
}

@media (max-width:360px) {
    #system>img {
        height: 300px;
    }
}