@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --m-top: calc(34px + 56 * ((100vw - 320px) / (1940 - 320)));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    color: white;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

#root {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1250px;
    width: 100%;
}

.m_top {
    margin-top: var(--m-top);
}

h1 {
    color: white;
    font-weight: 600;
    line-height: 1;
}

.h1_sub {
    color: white;
    margin-top: 30px;
    font-weight: 300;
    font-size: calc(10px + 16 * ((100vw - 320px) / (1940 - 320)));
}

.font_80 {
    font-size: calc(32px + 48 * ((100vw - 320px) / (1920 - 320)));
}

.font_36 {
    font-size: calc(24px + 12 * ((100vw - 320px) / (1940 - 320)));
}

.font_24 {
    font-size: calc(11px + 13 * ((100vw - 320px) / (1920 - 320)));
}

.font_20 {
    font-size: calc(8px + 12 * ((100vw - 320px) / (1920 - 320)));
}

@media (max-width:1250px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width:390px) {
    .container {
        padding: 0 10px;
    }
}

/* Отмена адаптации шрифта */
@media screen and (min-width:1940px) {
    h1 {
        font-size: 80px;
    }

    .font_80 {
        font-size: 80px;
    }

    .h1_sub,
    .font_24 {
        font-size: 24px !important;
    }

    .font_36 {
        font-size: 36px !important;
    }

    .font_20 {
        font-size: 20px;
    }

    .login_img--adaptive {
        width: 290px;
    }
}