@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --m-top-80: calc(34px + 56 * ((100vw - 320px) / (1940 - 320)));
    /* длинна img в bigcard */
    --big_card-img: calc(200px + 360 * ((100vw - 320px) / (1940 - 320)));
    /*ширины изображения в courier и store*/
    --width_img-list: calc(100px + 300 * ((100vw - 320px) / (1940 - 320)));
    /*ааптация изображения в блоке #system*/
    --s_img-adaptive: calc(300px + 323 * ((100vw - 320px) / (1940 - 320)));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    color: white;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    line-height: normal;
}

#root {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1250px;
    width: 100%;
}

.m_top {
    margin-top: var(--m-top-80);
}

h1 {
    color: white;
    font-weight: 600;
    line-height: 1;
}

.h1_sub {
    color: white;
    margin-top: 30px;
    font-weight: 300;
    font-size: calc(10px + 16 * ((100vw - 320px) / (1940 - 320)));
}

.font_80 {
    font-size: calc(32px + 48 * ((100vw - 320px) / (1920 - 320)));
}

.font_80-40 {
    font-size: calc(40px + 40 * ((100vw - 320px) / (1940 - 320)));
}

.font_80-20 {
    font-size: calc(20px + 60 * ((100vw - 320px) / (1940 - 320)));
}

.font_36 {
    font-size: calc(24px + 12 * ((100vw - 320px) / (1940 - 320)));
}

.font_36-20 {
    font-size: calc(20px + 16 * ((100vw - 320px) / (1940 - 320)));
}

.font_24 {
    font-size: calc(11px + 13 * ((100vw - 320px) / (1920 - 320)));
}

.font_20 {
    font-size: calc(8px + 12 * ((100vw - 320px) / (1920 - 320)));
}

.font_20-10 {
    font-size: calc(10px + 10 * ((100vw - 320px) / (1920 - 320)));
}

.font_15-8 {
    font-size: calc(8px + 6 * ((100vw - 320px) / (1920 - 320)));
}

@media (max-width:1250px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width:350px) {
    .BtnGreen {
        font-size: 12px !important;
        padding: 8px;
    }
}

@media (max-width:390px) {
    .container {
        padding: 0 10px;
    }

    .slider_wrapper {
        width: 290px !important;
        height: 275px !important;
    }

    .card {
        width: 280px !important;
        height: 276px !important;
        justify-content: space-evenly;
    }

    .card h4,
    .card img,
    .card p {
        margin: 0 !important;
    }

    .card h4 {
        font-size: 24px;
    }
}

/* Отмена адаптации */
@media (min-width:1940px) {
    :root {
        --big_card-img: 760px !important;
        --width_img-list: 450px !important;
        --s_img-adaptive: 750px !important;
    }

    h1 {
        font-size: 80px;
    }

    .font_80,
    .font_80-40,
    .font_80-20 {
        font-size: 80px !important;
    }

    .h1_sub,
    .font_24 {
        font-size: 24px !important;
    }

    .font_36,
    .font_36-20 {
        font-size: 36px !important;
    }

    .font_20,
    .font_20-10 {
        font-size: 20px;
    }

    .font_15-8 {
        font-size: 15px;
    }

    .login_img--adaptive {
        width: 56px !important;
    }

    #s_img {
        width: 700px !important;
    }

    #wish .card {
        width: 350px !important;
    }

}