:root {
    --t_cards-h4-mt: calc(28px + 7 * ((100vw - 320px) / (1940 - 320)));
    --t_cards-p-mt: calc(5px + 45 * ((100vw - 320px) / (1940 - 320)));
    --t_cards-p-pb: calc(14px + 38 * ((100vw - 320px) / (1940 - 320)));
    --t_cards_icons-mt: calc(14px + 19 * ((100vw - 320px) / (1940 - 320)));
    --t_img--down: calc(100px + 150 * ((100vw - 320px) / (1940 - 320)));
}

.t_card {
    color: white;
    margin-top: 50px;
    background: rgba(48, 48, 48, .7);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding-bottom: 30px;
    position: relative;
}

.t_card h4 {
    margin-top: var(--t_cards-h4-mt);
}

.t_card p {
    padding-bottom: var(--t_cards-p-pb);
    text-align: center;
    margin-top: var(--t_cards-p-mt);
    border-bottom: 2px solid white;
}

.t_card li {
    max-width: 400px;
}

.t_img {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--t_cards_icons-mt);

}

.t_img>img {
    width: var(--size-icons);
    height: var(--size-icons);
}

.t_img>img:not(:first-child) {
    margin-left: 30px;
}

.t_img--down {
    position: absolute;
    width: var(--t_img--down);
    height: var(--t_img--down);
    bottom: -15%;
    right: -10%;
    z-index: -1;
}

@media (min-width:1940px) {
    :root {
        --t_img--down: 250px;
    }
}