#eco {
    margin-top: 120px;
    color: white;
}

#e_wrapper {
    margin-top: 63px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

#e_wrapper>div {
    display: flex;
    max-width: 80%;
    width: 100%;
    justify-content: space-between;

}

.e_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;

}

.e_card h5,
.e_card p {
    text-align: center;
}

#e_ok {
    max-width: 95%;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: -1;
}

.e_card p {
    max-width: 350px;
    font-weight: 300;
    margin-top: 10px;
}

@media (max-width: 1250px) {
    #e_wrapper {
        align-items: flex-start;
        justify-content: space-between;
    }

    .e_card {
        margin-left: 0 !important;
    }

    .e_card>img {
        width: 200px;
    }
}

@media (max-width: 980px) {
    #e_wrapper {
        display: flex;
        justify-content: center;
    }

    .e_card:not(:first-child) {
        margin-top: 30px;
    }

    #e_wrapper>div {
        flex-direction: column;
        align-items: center;
    }

    .e_card>img {
        max-width: 300px;
        width: 100%;
    }

    #e_ok {
        display: none;
    }
}