.slider {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider_wrapper {
    overflow: hidden;
    width: 320px;
    height: 320px;
    position: relative;

}

.slider_line {
    position: absolute;
    display: flex;
    transition: 1s;
}

.slider_line>div {
    padding: 0 10px;
}

.slider .prev img,
.slider .next img {
    width: 20px;
}

.slider .prev,
.slider .next {
    display: flex;
}

.slider .next img {
    transform: rotate(180deg);
}