#courier {
    position: relative;
}

#courier h1 {
    margin: 70px 0 30px 0;
}

#courier .big_card {
    flex-direction: row-reverse;
    align-items: stretch;
}

#courier .big_card img {
    margin-left: 10px;
}

#courier .big_card ul {
    margin-top: 80px;
    margin-left: 40px;
}

#courier>img {
    position: absolute;
    right: -5%;
    bottom: -10%;
    z-index: -1;
}