#courier {
    margin-top: var(--m-top-80);
    position: relative;
}

#courier h1 {
    margin: 70px 0 30px 0;
}

#courier .big_card {
    flex-direction: row-reverse;
    align-items: stretch;
}

#courier .big_card img {
    margin-left: 10px;
}

#courier .big_card ul {
    margin-top: 80px;
    margin-left: 40px;
}

#courier>img {
    position: absolute;
    right: 0%;
    bottom: -10%;
    z-index: -1;
    width: var(--width_img-list);
}

@media (max-width:730px) {
    #courier {
        margin-top: 18px;
    }

    #courier>h1 {
        display: none;
    }

    #courier .big_card {
        flex-direction: column;
    }

    #courier .big_card h1 {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #courier .big_card ul {
        margin: 0;
        margin-bottom: 20px;
    }
}